<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NetWorks</title>
  
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />

	<!-- Custom Styles -->
	<link rel="stylesheet" href="/styles.css" />

 	<!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <!-- jQuery (necessary for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  
	<!-- Our own supporting scripts -->
	<script src="/js/auth-api.js"></script>
</head>
<body class="wrapper d-flex flex-column min-vh-100 w-100">
	<div class="container mt-5 form-container">	
		<h2>Retrieve by IMSI</h2>
		<br>
		<div class="mb-3">
		    <label for="imsiInput" class="mb-2">IMSI:</label>
		    <input type="text" id="imsiInput" placeholder="Enter IMSI" required class="mb-3 form-control form-control">
		    <button id="fetchFailures" class="mb-3">Get Failures</button>
		</div>
		
		<div id="failuresResult"></div>
		
		<!-- Placeholder for total failures count -->
		<div id="failuresCount" class="alert alert-info" style="display: none;"></div>
		
		<!-- Scrollable Table Container (Hidden by Default) -->
		<div id="tableWrapper" class="table-container" style="display: none;">
		    <table id="failuresTable" class="table table-dark table-striped">
		        <thead>
		            <tr>
		                <th>Event ID</th>
		                <th>Cause Code</th>
		                <th>Description</th>
		                <th>Date & Time</th>
		            </tr>
		        </thead>
		        <tbody></tbody>
		    </table>
		</div>
	</div>
	<script src="/customer-service/js/by-imsis.js"></script>
</body>
</html>