<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NetWorks</title>
  
	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />

	<!-- Custom Styles -->
	<link rel="stylesheet" href="/styles.css" />

 	<!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <!-- jQuery (necessary for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  
	<!-- Our own supporting scripts -->
	<script src="/js/auth-api.js"></script>
</head>
<body class="wrapper d-flex flex-column min-vh-100 w-100">
	<nav id="sidebar" class="bg-dark d-flex flex-column p-3" style="display: none;">
	    <ul class="nav flex-column fs-5">
	    	<li class="nav-item" id="homeNav">
	            <a class="nav-link text-white" href="#home" data-page>🏠 Home</a>
	        </li>
	        <li class="nav-item" id="registerNav" style="display: none;">
	            <a class="nav-link text-white" href="#register" data-page>📝 Register</a>
	        </li>
			<li class="nav-item" id="accountsNav" style="display: none;">
	            <a class="nav-link text-white" href="#accounts" data-page>🗂️ Accounts</a>
	        </li>
	        <li class="nav-item" id="goalsGraphNav" style="display: none;">
	            <a class="nav-link text-white" href="#goalsGraph" data-page>📊 Goals Graph</a>
	        </li>
	        <li class="nav-item" id="pointsGraphNav" style="display: none;">
	            <a class="nav-link text-white" href="#pointsGraph" data-page>📊 Points Graph</a>
	        </li>
	        <li class="nav-item" id="nextSessionNav" style="display: none;">
	            <a class="nav-link text-white" href="#nextSession" data-page>📊 Next Session Suggestion</a>
	        </li>
	        <li class="nav-item" id="seasonAnalyzerNav" style="display: none;">
	            <a class="nav-link text-white" href="#seasonAnalyzer" data-page>📊 Season Analyzer</a>
	        </li>
        	
	    </ul>
	</nav>
	<script src="/js/sidebar.js"></script>
</body>
</html>

